<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Udemy Maximilian</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">
          {{ ingredient }} ({{ i }})
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add new</button>
      <hr />
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">
            {{ key }}: {{ value }} ({{ index }})
          </div>
        </li>
      </ul>
      <span v-for="n in 10">{{ n }}</span>
      <hr />
      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
      </template>
    </div>

    <script src="main.js"></script>
  </body>
</html>
